In [5]:
#import libraries
import pandas as pd
from pathlib import Path

In [7]:
#import csv file and define it

file_path = Path("../Resources/budget_data.csv")
budget_data = pd.read_csv(file_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
#create a dictionary with the dates
dates = budget_data['Date']
PnL = budget_data['Profit/Losses']
total_info = dict(zip(dates, PnL))

In [9]:
#define variables
num_months=0
net_total = 0
average = 0
greatest_increase = 0
greatest_decrease = 0
max_profit_time = 0
max_loss_time = 0

In [10]:
#set values for variables
num_months = budget_data['Date'].count()
net_total = budget_data['Profit/Losses'].sum()
average = budget_data['Profit/Losses'].mean()
greatest_increase = budget_data['Profit/Losses'].max()
greatest_decrease = budget_data['Profit/Losses'].min()

In [11]:
# Set the index as the 'Date' column
budget_data.set_index(pd.to_datetime(budget_data['Date'], infer_datetime_format=True), inplace=True)
print(budget_data.head())

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [12]:
#retrieve the 'Profit/Losses' column
new_budget_data = budget_data.iloc[budget_data['Profit/Losses'].max():,0]
print(new_budget_data.head())

Series([], Name: Date, dtype: object)

In [13]:
#Retrieve the highest and lowest values from the 'Profit/Losses' columnn and assign to variables.
max_profit_time = budget_data['Profit/Losses'].idxmax()
max_loss_time = budget_data['Profit/Losses'].idxmin()

In [33]:
#Display total months, net total, average change, greatest increase, and greatest decrease
# Set output file name
output_path = 'output.txt'
# Open the output path as a file object
with open(output_path, 'w') as file:
    file.write(f"Financial Analysis\m")
    file.write(f"----------------------------------------------------------------------\n")
    file.write(f'Total Months :' + str(num_months) + '\n')
    file.write(f'Total: $' + str(net_total) + '\n')
    file.write(f'Average Change : $'+ (str(round(average))) + '\n')
    file.write(f'Greatest Increase in Profits: '+ str(greatest_increase)+' on '+str(max_profit_time) + '\n')
    file.write(f'The greatest decrease in losses were '+ str(greatest_decrease)+' on '+str(max_loss_time))