In [1]:
#import libraries
import pandas as pd
from pathlib import Path

In [2]:
#import csv file and define it

file_path = Path("C:/Users/jpark/OneDrive/Desktop/Fintech/python-homework-main/Resources/budget_data.csv")
budget_data = pd.read_csv(file_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
#define variables
num_months=0
net_total = 0
average = 0
greatest_increase = 0
greatest_decrease = 0
max_profit_time = 0
max_loss_time = 0

In [4]:
#set values for variables
num_months = budget_data['Date'].count()
net_total = budget_data['Profit/Losses'].sum()
average = budget_data['Profit/Losses'].mean()
greatest_increase = budget_data['Profit/Losses'].max()
greatest_decrease = budget_data['Profit/Losses'].min()

In [5]:
 # Set the date as the index to the DataFrame
budget_data.set_index(pd.to_datetime(budget_data['Date'], infer_datetime_format=True), inplace=True)
print(budget_data.head())

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [6]:
#retrieve the 'Profit/Losses' column
new_budget_data = budget_data.iloc[budget_data['Profit/Losses'].max():,0]
print(new_budget_data.head())

Series([], Name: Date, dtype: object)

In [7]:
#Retrieve the highest and lowest values from the 'Profit/Losses' columnn and assign to variables.
max_profit_time = budget_data['Profit/Losses'].idxmax()
max_loss_time = budget_data['Profit/Losses'].idxmin()

In [8]:
#Display total months, net total, average change, greatest increase, and greatest decrease
print("Financial Analysis")
print("----------------------------------------------------------------------")
#Produce the statements for report
print('Total Months : ' + str(num_months))
print('Total: $' + str(net_total))
print('Average Change : $'+ (str(round(average))))
print('Greatest Increase in Profits: '+ str(greatest_increase)+' on '+str(max_profit_time))
print('The greatest decrease in losses were '+ str(greatest_decrease)+' on '+str(max_loss_time))

Financial Analysis
----------------------------------------------------------------------
Total Months : 86
Total: $38382578
Average Change : $446309
Greatest Increase in Profits: 1170593 on 2012-02-01 00:00:00
The greatest decrease in losses were -1196225 on 2013-09-01 00:00:00